{% extends 'base.html' %} {% block content %}

<div class="flex justify-center items-center flex-col">
  {% for categorie in categories %}

  <div class="w-100 m-4 p-2 bg-white flex flex-col gap-3 rounded-md shadow-md">
    <legend class="text-xl font-semibold mb-3 select-none">
      {{ categorie }}
    </legend>

    <div class="container">
      <div
        id="cards-container"
        class="flex flex-wrap justify-start items-start cards-container w-auto"
      >
        {% for produit in produits %} {% include "produit.html" %} {% endfor %}
      </div>
    </div>
  </div>

  {% endfor %}
</div>

{% endblock %}
